:root {
    --primary: #111854;
    --light: #ffffff;
    --gray: #efefee;

}

body {
    overflow: hidden;
    font-family: 'Mulish', Georgia;
    font-weight: 300;
    color: var(--primary);
}

a:hover {
    text-decoration: none;
}

.bg-primary { background-color: var(--primary) !important;}
.bg-light { background-color: var(--light) !important;}

.btn{
    border: 0;
}

.btn-primary{
    background-color: var(--primary);
}

.btn-primary:hover{
    background-color: var(--primary);
}
#sidebar-container {
    min-height: 100vh;

}
#sidebar-container .logo {
    padding: .875rem 5rem;

}

#sidebar-container .menu {
    width: 14rem;
}

.btn-search{
    right: 5px;
}

.avatar{
    max-width: 20px;    
}

.logomain{
    max-width: 100px;
      
}

#content{
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}